<% @title = 'See loans by Kiva users on a map' %>

<p>Enter a Kiva username below and see their loans on a map:</p>
<form action="/">
  <p><label>User name: <input type="text" name="user_id" /></label> <input type="submit" value="Go" /></p>
</form>

<h2>Want some examples?</h2>
<p>Here you have a small sample of the latest activity by Kiva lenders:</p>
<ul>
<% @recent.each do |r| %>
  <li><%= link_to r.lender_name, r.lender_url %><% if r.lender_location %>, from <%= r.lender_location %>,<% end %> just gave a loan to <%= r.borrower_name %>, from <%= r.borrower_town %>, <%= r.borrower_country %>.</li>
<% end %>
</ul>

