<% @title = "Loans by user #{h @user_id}" %>

<% content_for :html_header do %>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
var markers_options = [];
var map;
var infowindow = new google.maps.InfoWindow();

function initialize() {
  var latlng = new google.maps.LatLng(0, 0);
  var myOptions = {
    zoom: 2,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.HYBRID
  };

  map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
  for (i in markers_options) {
    createMarker(markers_options[i])
  }
}

function createMarker(options) {
  options.map = map;
  var marker = new google.maps.Marker(options);

  google.maps.event.addListener(marker, 'click', function() {
    infowindow.close();
    infowindow.set_content(document.getElementById('loan-' + options.loan_id).innerHTML);
    infowindow.open(map,marker);
  });
}
</script>
<% end %>

<% content_for :html_footer do %>
<script type="text/javascript">
initialize();
</script>
<% end %>

<p>Kiva user <a href="http://kiva.org/lender/<%=h @user_id %>"><%=h @user_id %></a> has taken part in loans to <%= @paging['total'] %> entrepeneurs<% if @paging['total'] > @paging['page_size'] %>. His latest <%= @paging['page_size'] %> loans are<% else %>,<% end %> shown on the map. Click on the markers to see more details on each loan.</p>

<p id="map-canvas" style="width:100%; height:500px"></p>

<% @loans.each do |loan| %>
  <div class="loan" id="loan-<%= loan['id'] %>">
    <h2><a href="http://www.kiva.org/app.php?page=businesses&amp;action=about&amp;id=<%= loan['id'] %>"><%= loan['name'] %></a></h2>
    <table>
      <tr><th>From</th><td><%= loan['location']['town'] %>, <%= loan['location']['country'] %></td></tr>
      <tr><th>Trade</th><td><%= loan['sector'] %>/<%= loan['activity'] %></td></tr>
      <tr><th>Loan amount</th><td>$<%= loan['loan_amount'] %></td></tr>
    </table>
    <script type="text/javascript">
var mo = {
  position: new google.maps.LatLng("<%= loan['location']['geo']['pairs'].split.join('", "') %>"),
  title: '<%= loan['name'].gsub("'", "\\'") %>',
  loan_id: '<%= loan['id'] %>'
};
markers_options.push(mo);
    </script>
  </div>
<% end %>

